.email-btn, .Google-btn, .Facebook-btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  line-height: 48px;
  font-size: 14px;
  border-radius: 4px;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}

.email-btn {
  background-color: red;
  border: 1px solid transparent;
  color: #fff;
}

.Google-btn{
  background-color: #fff;
  border: #979797 solid 1px;
  color: #333;
}

.Facebook-btn{
  background-color: #385185;
  border: 1px solid transparent;
  color: #fff;
}